<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>圈子管理——广告管理</title>
</head>

<body>
<div class="m30"  role="Box" data-card="circle">
    <!-- 搜索条件 -->
    <section  class="">
    	<i class="icon-home fa-css3"></i> 圈子管理 > 广告管理
    	<div class="mt20 mb20">
           <span class="btn btn-default btn-s-md" data-btn="addAd">新增图片广告规则</span>
           <span class="btn btn-default btn-s-md" data-btn="addTopic">新增话题推荐规则</span>
        </div>
        <div class="panel panel-info">
	        <header class="panel-heading">  
	        	<ul class="nav nav-tabs nav-justified" data-control="tab">
		            <li class="active"><a href="#imgAd" data-toggle="tab" >图片广告列表</a></li>
		            <li><a href="#topicAD" data-toggle="tab" data-btn="tab">话题推荐列表</a></li>
		        </ul>
	           
	        </header>
	        <div class="panel-body">
		        <div class="tab-content">
		        	<div class="tab-pane active" id="imgAd">
		        		<div class="row" data-list="ad">
		        		</div>
		        	</div>
		        	<div class="tab-pane" id="topicAD">
		        		<div class="row" data-list="topic">
		        			
		        		</div>
		        	</div>
		        </div>
	        </div>
    	</div>
    </section>   
</div>
</body>
</html>
