<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>圈子管理——发布人管理</title>
</head>

<body>
<div class="m30"  role="Box" data-card="issuer">
    <!-- 搜索条件 -->
    <section >
        <header class="panel-heading">                  
           <i class="icon-home fa-css3"></i> 圈子管理 > <a actionajax="topicManage" href="javascript:viod(0)">话题管理</a> >  发布人管理
        </header>
        <div class="panel-body">
          <form class="" role="form">
          	<div class="form-group">
				<label >发布人昵称：</label>
				<input class="h31 form-control" style="width: auto;display: inline-block;" type="text" name="" data-text="name" value="" field="name" />
			</div>
			<div class="form-group">
				<label>发布人头像：</label>
				<img class="mr10" style="width:50px;height:50px;" data-text="img" role="qnImg" isrc="" />
				<a class="btn btn-s-md btn-default u-upload ml10" id="uploadPic1" href="javascript:void(0)" >上传图片</a>
				<span class="c-666">请上传小于10M的png、jpg图片,72 X 72 px</span>
			</div>
			<div class="form-group">
				<span class="btn btn-sm btn-default mr10"  data-btn="save">添加</span>
			</div>
			<div class="form-group">
				<div class="cr_R" data-error="tip"></div>
			</div>
          </form>                  
        </div>
      </section> 
    <div data-con="pop">
        <table width="100%" class="tb-default tb_h_48 text_u"  role="table">
        	<thead>
	            <tr>
	                <th width="20%">头像</th> 
	                <th width="20%">昵称</th> 
	                <th width="30%">发布话题数</th>
	                <th width="30%">操作</th>  
	              </tr>
	        </thead>
	        <tbody data-list="issuer"></tbody>
        </table>
       <div class="pager_container m-page"></div>
   </div>
</div>
</body>
</html>
