<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>圈子管理——话题管理</title>
</head>

<body>
<div class="m30"  role="Box" data-card="topic">
    <!-- 搜索条件 -->
    <section >
        <header class="panel-heading">                  
           <i class="icon-home fa-css3"></i> 圈子管理 > 话题管理
           <a href="javascript:void(0)" class="btn btn-s-md btn-info text-info mr10 ml25" actionAjax="topicManageAddTopic">添加话题</a>
            <a href="javascript:void(0)" class=" btn btn-s-md btn-info text-info mr10" actionAjax="topicManageRecommendTopic">话题推荐管理</a>
            <a href="javascript:void(0)" class="btn btn-s-md btn-info text-info mr10" actionAjax="topicManageHotTopic">热门话题管理</a>
            <a href="javascript:void(0)" class="btn btn-s-md btn-info text-info mr10" actionAjax="topicManageIssuerManage">发布人管理</a>
        </header>
        <div class="panel-body">
          <form class="form-inline" role="form">
            <div class="form-group">
              <label>发布日期： </label>
              <input name="date_before" role="date" class="input-sm form-control"  type="text">
            </div>
            <div class="form-group">
              <label>至 </label>
               <input name="date_after" role="date" class="input-sm form-control" type="text">
            </div>    
           <div class="form-group">
               <label>所属圈子： </label>
                <select name="ci_id" class="input-sm form-control input-s-sm inline v-middle">
                </select>                      
            </div>
            <div class="form-group">
               <label>话题状态： </label>
                <select name="status" class="input-sm form-control input-s-sm inline v-middle">
                	<option value="">全部</option>
                    <option value="1">已上线</option>
                    <option value="2">已下线</option>
                </select>                      
            </div>
            <div class="form-group">
                <select name="label" class="input-sm form-control input-s-sm inline v-middle">
                	<option value="">全部</option>
                	<option value="0">无</option>
                    <option value="1">精</option>
                    <option value="2">新</option>
                    <option value="4">热</option>
                    <option value="3">推</option>
                </select>                      
            </div>
            <div class="form-group">              
                <select name="key" class="input-sm form-control input-s-sm inline v-middle">
                        <option value="">全部</option>
                        <option value="id">话题ID</option>
                        <option value="title">话题标题</option>
                        <option value="username">发布人</option>
                </select>  
               <input name="value" type="text" class="input-sm form-control"  placeholder="输入关键词">
            </div>                               
            <a href="#" class="btn btn-s-md btn-dark"  role="search"><i class="icon-magnifier fa-css3" role="search"></i> 筛选</a>
            <a href="#" class="btn btn-s-md btn-info mr10"  role="excel"><i class="icon-share-alt fa-css3" role="excel"></i> 导出</a>
           
          </form>                  
        </div>
      </section>    
        <table width="100%" class="tb-default tb_h_48 text_u"  role="table">                          
            <thead>
                    <th width="5%">话题ID</th> 
                    <th width="10%">标签</th> 
                    <th width="20%">话题标题</th>
                    <th width="10%">发布人</th>  
                    <th width="10%">所属圈子</th>
                    <th width="5%">评论数量</th>
                    <th width="5%">点赞数</th>
                    <th width="5%">被举报次数</th>
                    <th width="10%" >话题状态</th>
                    <th width="10%" >发布时间</th>
                    <th width="10%" >操作</th>
              </thead>  
              <tbody data-list="topic"></tbody>
        </table>
       <div class="pager_container m-page"></div>
</div>
</body>
</html>
