<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>圈子管理——热门话题</title>
</head>

<body>
<div class="m30"  role="Box" data-card="hot">
    <!-- 搜索条件 -->
    <section >
        <header class="panel-heading">                  
           <i class="icon-home fa-css3"></i> 圈子管理 > <a actionajax="topicManage" href="javascript:viod(0)">话题管理</a> >  热门话题
        </header>
        <div class="m20 fr">
        	<a class="btn-s-md btn-info text-info" href="javascript:void(0)" actionajax="topicManageCircleSort">去排序</a>
        </div>
      </section>    
        <table width="100%" class="tb-default tb_h_48 text_u"  role="table">                          
            <tr>
                    <th width="10%">话题ID</th> 
                    <th width="20%">所属圈子</th> 
                    <th width="30%">话题标题</th>
                    <th width="20%">发布时间</th>
                    <th width="20%" >操作</th>
              </tr>  
        </table>
        <div class="pager_container m-page"></div>
        <div class="mt20">
        	<label class="lh31 vt">开启状态：</label>
    		<label class="switch">
	             <input type="checkbox" data-btn="status" >
	             <span></span>
	        </label>
	        <input type="hidden" name="status" value="2" data-status="one">
        </div>
        <div class="mt20" data-show="index">
        	<label>首页展示的话题：</label>
        	<div class="disib" data-box="index"></div>
        </div>
</div>
</body>
</html>
