<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>圈子管理——话题推荐</title>
</head>

<body>
<div class="m30"  role="Box" data-card="circle">
    <!-- 搜索条件 -->
    <section >
        <header class="panel-heading">                  
           <i class="icon-home fa-css3"></i> 圈子管理 > <a actionajax="topicManage" href="javascript:viod(0)">话题管理</a> >  话题推荐
        </header>
        <div class="panel-body">
          <form class="form-inline" role="form">
          	<div class="form-group">
                <select name="status" class="input-sm form-control input-s-sm inline v-middle" data-option="circle">
                </select>                      
            </div>
          </form>                  
        </div>
      </section>    
        <table width="100%" class="tb-default tb_h_48 text_u"  role="table">                          
            <thead>
            	<tr>
                    <th width="10%">位置</th> 
                    <th width="10%">话题ID</th> 
                    <th width="10%">话题标题</th>
                    <th width="10%">标签</th>  
                    <th width="10%">发布时间</th>
                    <th width="10%" >排序</th>
                </tr>
              </thead>  
              <tbody data-list="recommend">
              	
              </tbody>
        </table>
       <div class="pager_container m-page"></div>
       <div class="tc p10 f14 disn" data-show="none">暂无数据</div>
       <div class="m10">
       		<span class="btn btn-info btn-s-md" data-btn="sort">保存</span>
       </div>
</div>
</body>
</html>
