<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>圈子管理——用户管理</title>
</head>

<body>
<div class="m30"  role="Box" data-card="user">
    <!-- 搜索条件 -->
    <section >
        <header class="panel-heading">                  
           <i class="icon-home fa-css3"></i> 圈子管理 > 圈子用户管理
        </header>
        <div class="panel-body">
          <form class="form-inline" role="form">
            <div class="form-group">
              <label>注册时间： </label>
              <input name="date_before" role="date" class="input-sm form-control"  type="text">
            </div>
            <div class="form-group">
              <label>至 </label>
               <input name="date_after" role="date" class="input-sm form-control" type="text">
            </div>    
           <div class="form-group">
               <label>账号状态： </label>
                <select name="status" class="input-sm form-control input-s-sm inline v-middle">
                	<option value="">全部</option>
                    <option value="1">正常用户</option>
                    <option value="2">禁言用户</option>
                </select>                      
            </div>
               <div class="form-group">              
                 <select name="key" class="input-sm form-control input-s-sm inline v-middle">
                        <option value="id">用户ID</option>
                        <option value="tel">用户账号</option>
                </select>  
               <input name="value" type="text" class="input-sm form-control"  placeholder="输入关键词">
            </div>                               
            <a href="#" class="btn btn-s-md btn-dark"  role="search"><i class="icon-magnifier fa-css3" role="search"></i> 筛选</a>
            <a href="#" class="btn btn-s-md btn-info"  role="excel"><i class="icon-share-alt fa-css3" role="excel"></i> 导出</a>
          </form>                  
        </div>
      </section>    
        <table width="100%" class="tb-default tb_h_48 text_u"  role="table">                          
            <tr>
                    <th width="10%">ID</th> 
                    <th width="10%">用户账号</th> 
                    <th width="10%">发话题数</th>
                    <th width="10%">发回复数</th>  
                    <th width="15%">发评论数</th>
                    <th width="15%">加入过的圈子</th>
                    <th width="10%">账号状态</th>
                    <th width="10%">注册时间</th>
                    <th width="10%" >操作</th>
              </tr>  
        </table>
       <div class="pager_container m-page"></div>
</div>
</body>
</html>
