<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>用户管理——战神陪玩订单</title>
</head>

<body>
<div class="m30" role="Box">  
   <!-- 搜索条件 -->
    <section>
        <header class="panel-headingd">                  
           <i class="icon-home fa-css3"></i> 用户管理 > 战神陪玩订单
        </header>
        <div class="panel-body">
          <form class="form-inline" role="form">
             <div class="form-group">
              <label>发布日期： </label>
              <input name="date_before" type="text" role="date" class="input-sm form-control">
            </div>
            <div class="form-group">
              <label>至 </label>
              <input name="date_after" type="text" role="date" class="input-sm form-control">
            </div>
            <div class="form-group">
               <label>是否使用优惠券： </label>
                <select name="is_coupon" class="input-sm form-control input-s-sm inline v-middle">
                    <option value="">全部</option>
                    <option value="1">是</option>
                    <option value="2">否</option>
              </select>                     
            </div>
           <div class="form-group">
               <label>状态： </label>
                <select name="status" class="input-sm form-control input-s-sm inline v-middle">
                    <option value="">全部</option>
                    <option value="1">待确认</option>
                    <option value="2">待付款</option>
                    <option value="3">进行中</option>
                    <option value="4">已退款</option>
                    <option value="5">已完成</option>
                    <option value="6">已取消</option>
                    <option value="7">退款中</option>
                    <option value="8">退款失败</option>
              </select>                     
            </div>             
               <div class="form-group">              
                <select name="key" class="input-sm form-control input-s-sm inline v-middle">
                    <option value="order_sn">订单号</option>
                    <option value="trade_no">交易单号</option>
                    <option value="p_username">陪玩人</option>
                    <option value="f_username">发起人</option>
                </select> 
               <input name="value" type="text" class="input-sm form-control"  placeholder="输入关键词">
            </div>                               
            <a href="#" class="btn btn-s-md btn-dark"  role="search"><i class="icon-magnifier fa-css3" role="search"></i> 筛选</a>
            <a href="#" class="btn btn-s-md btn-info"  role="excel"><i class="icon-share-alt fa-css3" role="excel"></i> 导出</a>           
          </form>                  
        </div>
      </section>
     <table width="100%" class="tb-default tb_h_48 text_u"  style="table-layout:fixed;"  role="table">                          
            <tr>
                    <th width="14%">订单号</th> 
                    <th width="14%">支付宝/微信交易单号</th>
                    <th width="12%">发起时间</th> 
                    <th width="8%">发起人账号</th> 
                    <th width="8%">陪玩人</th> 
                    <th width="12%">陪玩开始时间</th>
                    <th width="5%">单价（元/时）</th>                                    
                    <th width="5%">时长(小时)</th>                    
                    <th width="5%">总价(元)</th>   
                    <th width="5%">优惠券减免(元)</th> 
                    <th width="5%">用户实付(元)</th>   
                    <th width="10%">支付时间</th>   
                    <th width="5%">状态</th>
                    <th width="5%">支付方式</th>  
                    <th width="5%">操作</th>                                   
            </tr>  
   </table>          
   <div class="pager_container m-page" ></div>    
</div>
</body>
</html>
