<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>活动管理——网吧活动</title>
</head>

<body>
<div class="m30" role="Box">  
   <!-- 搜索条件 -->
    <section>
        <header class="panel-headingd">                  
           <i class="icon-home fa-css3"></i> 活动管理 > 网吧活动
        </header>
        <div class="panel-body">
          <form class="form-inline" role="form">
             <div class="form-group">
              <label>活动时间： </label>
              <input name="date_before" type="text" role="date" class="input-sm form-control">
            </div>
            <div class="form-group">
              <label>至 </label>
              <input name="date_after" type="text" role="date" class="input-sm form-control">
            </div>
            <div class="form-group">
               <label>活动类型： </label>
                <select name="ptype" class="input-sm form-control input-s-sm inline v-middle">
                    <option value="">全部</option>
                    <option value="1">充送</option>
                    <option value="2">包时</option>
                    <option value="3">比赛</option>
                    <option value="4">其他</option>
              </select>                     
            </div>
           <div class="form-group">
               <label>状态： </label>
                <select name="status" class="input-sm form-control input-s-sm inline v-middle">
                    <option value="0">全部</option>
                    <option value="1">进行中</option>
                    <option value="2">已结束</option>
                    <option value="3">已下线</option>
                    <option value="4">审核中</option>
                    <option value="5">审核未通过</option>
                    <option value="6">未开始</option>
              </select>                     
            </div>             
               <div class="form-group">              
                <select name="key" class="input-sm form-control input-s-sm inline v-middle">
                    <option value="ID">ID</option>
                    <option value="title">活动标题</option>
                     <option value="content">活动内容</option>
                     <option value="cybercafe_name">网吧名称</option>
                </select> 
               <input name="value" type="text" class="input-sm form-control"  placeholder="输入关键词">
            </div>                               
            <a href="#" class="btn btn-s-md btn-dark"  role="search"><i class="icon-magnifier fa-css3" role="search"></i> 筛选</a>
            <a href="#" class="btn btn-s-md btn-info"  role="excel"><i class="icon-share-alt fa-css3" role="excel"></i> 导出</a>           
          </form>                  
        </div>
      </section>
     <table width="100%" class="tb-default tb_h_48 text_u"  style="table-layout:fixed;"  role="table">                          
            <tr>
                    <th width="5%">ID</th>  
                    <th width="7%">发布日期</th> 
                    <th width="7%">活动标题</th>                                                
                    <th width="10%">活动内容</th>
                    <th width="15%">活动时间</th>                                    
                    <th width="5%">网吧名称</th>                    
                    <th width="5%">活动类型</th>   
                    <th width="5%">状态</th>                   
                    <th width="10%" style="border-right: 0;">操作</th>                                   
            </tr>  
   </table>          
   <div class="pager_container m-page" ></div>    
</div>
</body>
</html>
