<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>结算管理——网吧财务结款</title>
</head>

<body>
<div class="m30" role="Box">
    <!-- 搜索条件 -->
    <section>
        <header class="panel-heading">                  
           <i class="icon-home fa-css3"></i> 结算管理 > 网吧财务结款
        </header>
        <div class="panel-body" >
          <form class="form-inline" role="form">
            <div class="form-group">
              <!--<label>操作日期： </label>-->
              <select class="input-sm form-control input-s-sm inline v-middle" name="dateType">
                    <option value="1">申请日期</option>
                    <option value="2">操作日期</option>
                </select> 
              <input name="date_before" type="text" role="date" class="input-sm form-control" data-time="start">
            </div>
            <div class="form-group">
              <label>至 </label>
              <input name="date_after" type="text" role="date" class="input-sm form-control" data-time="end">
            </div>
           <div class="form-group">
               <label>提现状态： </label>
                <select name="status" class="input-sm form-control input-s-sm inline v-middle" data-select="status">
                	<option value="">全部</option>
                    <option value="0">等待提现</option>
                    <option value="1">已提现</option>
                </select>                      
            </div>
            <div class="form-group">
            	<select name="key" class="input-sm form-control input-s-sm inline v-middle" data-select="name">
	                <option value="">全部</option>
	                <option value="cybercafe_name">网吧名字</option>
	                <option value="username">网吧账号</option>
              	</select>     
              	<input name="value" type="text" class="input-sm form-control"  placeholder="输入关键词" data-text="keywords">            
            </div>                       
            <a  id="SearchBtn" href="#" class="btn btn-s-md btn-info" data-btn="filter" role="search"><i class="icon-magnifier fa-css3"></i> 筛选</a>
            <a  id="ExcelBtn" href="#" class="btn btn-s-md btn-info" data-batch="all"><i class="icon-pin" ></i> 批量设置为已提现</a>
            <a  id="ExcelBtn" href="#" class="btn btn-s-md btn-info" data-btn="export" role="excel"><i class="icon-share-alt fa-css3"></i> 导出</a>
          </form>                  
        </div>
      </section>    
        <table id="DepositList" width="100%" class="tb-default tb_h_48 text_u">                          
            <thead>
            	<tr>
		            <th width="5%"><label class="checkbox m-n i-checks"><input type="checkbox" data-all="checkAll"><i></i></label></th>  
		            <th width="5%">申请时间</th>                                    
		            <th width="8%">网吧名称</th>
		            <th width="10%">网吧账号</th>
		            <th width="6%">支付宝实有金额</th>
		            <th width="6%">微信实有金额(元)</th>
		            <th width="7%">补贴金额</th>
		            <th width="7%">提现总额</th>
		            <th width="6%">订单数</th>
		            <th width="7%">提现日期</th>
		            <th width="15%">提现账号</th>
		            <th width="10%">提现状态</th>     
		            <th width="8%" style="border-right: 0;">操作日期</th>
	            </tr>
              </thead>
              <tbody data-body="list">
              </tbody>
        </table>
        <div class="account mt20" control="wrap" style="display: none;">
        	可提现金额总额：<span class="cr_O  fb f16" field="allClearAccount"></span>,补贴总额：<span class="cr_O  fb f16" field="allSubsidyAccount"></span>
        </div>
        <div class="pager_container m-page"></div>
</div>
</body>
</html>
