<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>结算管理——网吧补贴设置</title>
</head>

<body>
<div class="m30">
    <!-- 搜索条件 -->
    <section data-card="card">
        <header class="panel-heading">                  
           <i class="icon-home fa-css3"></i> 结算管理 > 网吧补贴设置
        </header>
        <div class="buttons" style="margin-bottom: 20px;">
        	<a class="btn btn-s-md btn-info" data-btn="addRule">新增补贴规则 <i class="fa fa-plus"></i></a>
        	<a class="text-success ml20" href="javascript:void(0)" data-btn="history">已增网吧补贴记录</a>
        </div>
        <div class="alert alert-info lh20">
	        <!--<button type="button" class="close" data-dismiss="alert">×</button>-->
	        <i class="fa fa-info-sign"></i><strong>注：</strong>
	        <div>1、未启用补贴的城市，网吧无补贴。 </div>
	        <div>2、每次新增补贴规则生成新的补贴规则ID </div>
	        <div>3、设置后立即生效。</div>
	        <div>4、获得补贴的充值订单，充值金额需大于等于50元。 </div>
			<div>5、同一用户下多笔充值，网吧只获得1次补贴。</div>
        </div>
        <div class="row" data-list="ruleList">
		</div>
    </section>    
    <!--已增记录-->
	<section data-card="history" style="display: none;">
		<header class="panel-heading">                  
           <i class="icon-home fa-css3"></i> <a href="javascript:void(0)" actionajax="barSubsidy">网吧补贴设置</a> > 已增规则记录
        </header>
        <div class="panel-body" role="Box">
          <form class="form-inline" role="searchForm">
            <div class="form-group">
              <label>设置时间： </label>
              <input id="BeginTime" type="text" class="input-sm" role="date" class="form-control" name="date_before" >
            </div>
            <div class="form-group">
              <label>至 </label>
              <input id="EndTime" type="text" class="input-sm" role="date" class="form-control" name="date_after" >
            </div>
            <div class="form-group">
            	<select id="RefundType" class="input-sm form-control input-s-sm inline v-middle"  name="key">
	                <!--<option value="">全部</option>-->
	                <option value="id">规则ID</option>
	                <option value="ruleName">规则名称</option>
	                <option value="areas">地区</option>
              	</select>     
              	<input id="KeyWord" type="text" class="form-control input-sm" name="value"  placeholder="输入关键词">            
            </div>                       
            <a  id="SearchBtn" href="#" class="btn btn-s-md btn-info" data-btn="filter"  role="search"><i class="icon-magnifier fa-css3"></i> 筛选</a>
          </form>                  
        </div>
        <table id="DepositList" width="100%" class="tb-default tb_h_48 text_u">                          
            <thead>
            	<tr>
		            <th width="5%">规则ID</th>                                    
		            <th width="10%">设置时间</th>
		            <th width="10%">规则名称</th>
		            <th width="10%">补贴1</th>
		            <th width="10%">补贴2</th>
		            <th width="10%">补贴3</th>
		            <th width="10%">补贴4</th>
		            <th width="10%">补贴5</th>
		            <th width="10%">启用城市</th>
		            <th width="15%">备注</th>
	            </tr>
              </thead>
              <tbody data-body="history">
              </tbody>
        </table>
       <div class="pager_container m-page" data-page="history"></div>
	</section>

</div>
</body>
</html>
