<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>用户管理-CGU英雄联盟报名记录</title>
	</head>
	<body>
		<div class="m30"  role="Box">
			<!-- 搜索条件 -->
			<section>
				<header class="panel-heading">
					<i class="icon-home fa-css3"></i> 用户管理   > CGU报名记录
				</header>
				<button class="btn btn-info w100 h40 m10 f16" role="lol">英雄联盟</button>
				<button class="btn btn-default w100 h40 m10 f16" role="lushi">炉石传说</button>
				<div class="panel-body">
					<form class="form-inline" role="form">
						<div class="form-group">
							<label>报名时间： </label>
							<input name="date_start" type="text" role="date" class="input-sm form-control">
						</div>
						<div class="form-group">
							<label>至 </label>
							<input name="date_end" type="text" role="date" class="input-sm form-control">
						</div>
						<div class="form-group">
							<select name="gameos"  class="input-sm form-control input-s-sm inline v-middle" style="margin-right: -8px">
								<option value="0">账号</option>
								<option value="1">真实姓名</option>
								<option value="2">参赛城市</option>
								<option value="3">身份证号</option>
								<option value="4">联系方式</option>
								<option value="5">所属战队</option>
							</select>
							<input type="text" class="input-sm form-control"  placeholder="" name="gamevalue">
						</div>
						<div class="form-group">
							<a href="#" class="btn btn-s-md btn-dark"  role="search"><i class="icon-magnifier fa-css3" role="search"></i> 筛选</a>
						</div>
						<a href="#" class="btn btn-s-md btn-info fr"  role="excel"><i class="icon-share-alt fa-css3" role="excel"></i> 导出</a>
					</form>
				</div>
			</section>
			<table width="100%" class="tb-default tb_h_48 text_u"  role="table">
				<tr>
					<th width="10%">报名时间</th>
					<th width="10%">用户账号</th>
					<th width="5%">真实姓名</th>
					<th width="10%">所在城市</th>
					<th width="10%">参赛学校</th>
					<th width="10%">学生证号</th>
					<th width="10%">身份证号</th>
					<th width="10%">联系方式</th>
					<th width="10%">所属战队</th>
					<th width="10%">队长</th>
					<th width="10%">操作</th>
				</tr>
				<tr class="disn">
					<th width="15%">报名时间</th>
					<th width="10%">用户账号</th>
					<th width="10%">真实姓名</th>
					<th width="10%">参赛城市</th>
					<th width="15%">所在学校</th>
					<th width="10%">学生证号</th>
					<th width="10%">身份证号</th>
					<th width="10%">联系方式</th>
					<th width="10%">操作</th>
				</tr>
			</table>
			<div class="pager_container m-page"></div>
		</div>
	</body>
</html>
