<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>系统管理——网吧认领</title>
</head>

<body>
<div class="m30"  role="Box">
    <!-- 搜索条件 -->
    <section>
        <header class="panel-heading">                  
           <i class="icon-home fa-css3"></i> 系统管理 > 网吧认领
        </header>
        <div class="panel-body">
          <form class="form-inline" role="form">
            <div class="form-group">
              <label>申请日期： </label>
              <input id="BeginTime" name="date_before" type="text" role="date" class="input-sm form-control">
            </div>
            <div class="form-group">
              <label>至 </label>
              <input id="EndTime" name="date_after" type="text" role="date" class="input-sm form-control">
            </div>
            <div class="form-group">
	            	<label>认领状态： </label>
	            	<select name="claim"  class="input-sm form-control input-s-sm inline v-middle">
	            		<option value="">全部</option>
	            		<option value="1">已认领</option>
	            		<option value="3">认领审核中</option>
	            	</select>          
	            </div>
           <div class="form-group">
           		<select class="input-sm form-control inline v-middle" name="key">
					<option value="username">认领账号</option>
					<option value="name">姓名</option>
					<option value="tel">电话</option>
					<option value="cybercafe_name">认领网吧</option>
					<option value="tel">推荐人手机</option>
				</select>
                <input type="text" class="input-sm form-control" name="value" placeholder="请输入关键字">           
            </div>        
            <span class="btn btn-s-md btn-dark" role="search"><i class="icon-magnifier fa-css3"></i>筛选</span>
          </form>                  
        </div>
      </section>    
        <table width="100%" class="tb-default tb_h_48 text_u" role="table">                          
            
              <thead>
            	<tr>
            		<th>ID</th> 
                    <th>申请时间</th> 
                    <th>认领人账号</th>  
                    <th>姓名</th> 
                    <th>电话</th>
                    <th>认领网吧</th>
                    <th>推荐人手机</th>
                    <th>网吧ID</th>
                    <th>网吧地址</th>
                    <th>操作</th>
	            </tr>
              </thead>
              <tbody data-body="list">
              </tbody>
        </table>
       <div class="pager_container m-page"></div>
</div>
</body>
</html>
