<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>活动管理——官方活动</title>
</head>

<body>
<div class="m30" role="Box">     
    <!-- 搜索条件 -->
    <section>
        <header class="panel-heading">                  
           <i class="icon-home fa-css3"></i> 活动管理 > 官方活动
        </header>
        <div class="panel-body">
          <form class="form-inline" role="form">
           <div class="form-group">
              <label>注册时间： </label>
              <input name="date_before" type="text" role="date" class="input-sm form-control">
            </div>
            <div class="form-group">
              <label>至 </label>
              <input name="date_after" type="text" role="date" class="input-sm form-control">
            </div>
           <div class="form-group">
               <label>状态： </label>
                <select name="status" class="input-sm form-control input-s-sm inline v-middle">
                   <option value="">全部</option>
                   <option value="1">进行中</option>
                   <option value="2">已结束</option>
                   <option value="3">已下线</option>
                   <option value="6">未开始</option>
              </select>                     
            </div>             
               <div class="form-group">              
                <select name="key" class="input-sm form-control input-s-sm inline v-middle">
                    <option value="title">活动标题</option>
                     <option value="content">活动内容</option>
                </select> 
               <input name="value" type="text" class="input-sm form-control"  placeholder="输入关键词">
            </div>                               
            <a href="#" class="btn btn-s-md btn-dark"  role="search"><i class="icon-magnifier fa-css3" role="search"></i> 筛选</a>
            <a href="#" class="btn btn-s-md btn-info"  role="excel"><i class="icon-share-alt fa-css3" role="excel"></i> 导出</a>
            <a parentpath="Common" actionajax="activeArae" href="javascript:;" class="btn btn-danger btn-rounded"><i class="icon-plus fa-css3"></i> 发布活动</a>
          </form>                  
        </div>
      </section>      
        <table id="OrgActiveList" width="100%" class="tb-default tb_h_48 text_u" style="table-layout:fixed;">
            <tr>                        
                    <th width="10%">发布日期</th>                                    
                    <th width="16%">活动标题</th>
                    <th width="16%">活动内容</th>
                    <th width="12%">参与规则</th>
                    <th width="12%">活动时间</th>
                    <th width="10%">参加人数/获奖人数</th>
                    <th width="8%">状态</th>                           
                    <th width="12%" style="border-right: 0;">操作</th>
            </tr>  
        </table>          
        <div class="pager_container m-page"></div>   
</div>
</body>
</html>
