<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>账号管理--网吧账号</title>
</head>

<body>
<div class="m30"  role="Box">
     <!-- 搜索条件 -->
    <section>
        <header class="panel-heading">                  
           <i class="icon-home fa-css3"></i> 账号管理 > 网吧账号
        </header>
        <div class="panel-body">
          <form class="form-inline" role="form">
            <div class="form-group">
              <label>注册时间： </label>
              <input name="date_before" type="text" role="date" class="input-sm form-control">
            </div>
            <div class="form-group">
              <label>至 </label>
              <input name="date_after" type="text" role="date" class="input-sm form-control">
            </div>
           <div class="form-group">
               <label>信息审核： </label>
                 <select name="auditStatus"  class="input-sm form-control input-s-sm inline v-middle">
                    <option value="">全部</option>
                    <option value="0">未审核</option>
                    <option value="1">审核中</option>
                    <option value="2">审核未通过</option>
                    <option value="3">审核通过</option>
                  </select>                     
            </div>
              <div class="form-group">
               <label>证件审核：  </label>
                 <select name="license_status"  class="input-sm form-control input-s-sm inline v-middle">
                    <option value="">全部</option>
                    <option value="0">未审核</option>
                    <option value="1">审核中</option>
                    <option value="2">审核未通过</option>
                    <option value="3">审核通过</option>
                  </select>                 
            </div>
               <div class="form-group">
               <label>财务审核：  </label>
                 <select name="bank_status"  class="input-sm form-control input-s-sm inline v-middle">
                                <option value="">全部</option>
                                <option value="0">未审核</option>
                                <option value="1">审核中</option>
                                <option value="2">审核未通过</option>
                                <option value="3">审核通过</option>
                              </select>                  
            </div>
            <div class="form-group">              
             <select name="key" class="input-sm form-control input-s-sm inline v-middle">                                
                 <option value="bindName">用户名</option>
                 <option value="username">绑定手机号</option>
                 <option value="cybercafe_name">网吧名称</option>
                 <option value="cybercafe_address">网吧地址</option>
            </select>  
            <input name="value" type="text" class="input-sm form-control"  placeholder="输入关键词">
            <a href="#" class="btn btn-s-md btn-dark"  role="search"><i class="icon-magnifier fa-css3" role="search"></i> 筛选</a>
            <a href="#" class="btn btn-s-md btn-info"  role="excel"><i class="icon-share-alt fa-css3" role="excel"></i> 导出</a>
          </form>                  
        </div>
      </section>      
      <table width="100%" class="tb-default tb_h_48 text_u"  role="table">                          
            <tr>
                    <th width="6%">ID</th>                                    
                    <th width="5%">用户名</th>
                    <th width="7%">绑定手机号</th>
                    <th width="9%">网吧名称</th>
                    <th width="20%">网吧地址</th>
                    <th width="5%">订单数</th>
                    <th width="5%">评价数</th>
                    <!--<th width="5%">收藏数</th>-->
                    <th width="6%">信息状态</th>
                    <th width="6%">证件审核</th>
                    <th width="6%">财务审核</th>
                    <th width="8%">注册时间</th>
                    <th width="10%">最后登录时间</th>
                    <th width="10%" style="border-right: 0;">操作</th>                                      
            </tr>  
        </table>
      <div class="pager_container m-page"> </div>        
</div>
</body>
</html>
