<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>官方活动——参加人数详情</title>
</head>


<body>
<div class="m30"> 
    <!-- 搜索条件 -->
    <section>
        <header class="panel-heading">                  
            <i class="icon-home fa-css3"></i><a href="javascript:void(0)" actionAjax="officialActivity" class="c-g">  官方活动</a> > 参加人数详情
        </header>
        <div class="panel-body">
          <form class="form-inline" role="form">
            <div class="form-group">
              <label>获奖时间： </label>
              <input name="date_before" type="text" role="date" class="input-sm form-control">
            </div>
            <div class="form-group">
              <label>至 </label>
              <input name="date_after" type="text" role="date" class="input-sm form-control">
            </div>                    
            <a href="#" class="btn btn-s-md btn-dark"  role="search"><i class="icon-magnifier fa-css3" role="search"></i> 筛选</a>
            <a href="#" class="btn btn-s-md btn-info"  role="excel"><i class="icon-share-alt fa-css3" role="excel"></i> 导出</a>
          </form>                  
        </div>
      </section>
          <table  width="100%" class="tb-default tb_h_48 text_u"  role="table">
                <tr>
                    <th width="25%">用户名</th>  
                    <th width="25%">参加时间</th>  
                    <th width="25%">是否获奖</th>  
                    <th width="25%" style="border-right: 0;">获奖时间</th>  
                </tr>
          </table>
          <div class="pager_container m-page"></div>
</div>
</body>
</html>
