<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>约战管理——关键字过滤</title>
	</head>
	<body>		
		<div class='m30' role='Box'>
			<section>
				<header class='panel-heading'>
					<i class="icon-home fa-css3"></i> 约战管理 > 关键字过滤
				</header>
			</section>
			<div class='row'>
				<div class='col-sm-6'>
					<section class='panel panel-info portlet-item'>
						<header class='panel-heading'>
							已过滤关键字
						</header>
						<div class='list-group bg-white'>
							<div class='panel-body' data-type='1'>
								<div class='form-inline' data-area='areaGroup'  style="margin-bottom: 15px;">
									<div class='form-group'>
										<input class='form-control city' name='colate' type='text' placeholder="自定义标签">
									</div>
									<div class='form-group'>
										
										<span class='colatelabel btn btn-dark' type="button">添加</span>
									</div>
								</div>
								<section class="panel panel-success ">
					                <div class="list-group bg-white">
					                	<div class="panel-body" role="list"></div>
					                </div>
								
								
				              </section>
						  </div>
						</div>
					</section>
				</div>
			
			</div>
		</div>
	</body>
</html>
