<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>约战管理--战神游戏等级设置</title>
</head>
<body>
<div class="m30"  role="Box">
    <section>
        <header class="panel-heading mb40">
            <i class="icon-home fa-css3"></i> 约战管理   > 战神游戏等级设置
        </header>
        <div class="tc fl w250 b-d5d5d5 mr20 pb20" role="parent">

            <ul class="f16 lh50 mb20" data-ul="first"></ul>

            <div class="pr20">
                <div class="init">
                    <button class="btn btn-info" data-btn="add">添加</button>
                    <button class="btn btn-info" data-btn="edit">编辑</button>
                </div>
                <div class="sure disn">
                    <button class="btn btn-info" data-btn="sure">确认</button>
                    <button class="btn btn-info" data-btn="cane">取消</button>
                </div>
                <div class="save disn">
                    <button class="btn btn-info" data-btn="cane">返回</button>
                </div>
            </div>
        </div>
        <div class="fl b-d5d5d5 hid p20" style="min-width: 590px;" data-st="st">
            <div class="tc fl pr20 bor-r-e9e9e9" role="parent">
                <ul class="f14 lh50 mb20" data-ul="second"></ul>
                <div class="pr20 pb20">
                    <div class="init">
                        <button class="btn btn-info" data-btn="add">添加</button>
                        <button class="btn btn-info" data-btn="edit">编辑</button>
                    </div>
                    <div class="sure disn">
                        <button class="btn btn-info" data-btn="sure">确认</button>
                        <button class="btn btn-info" data-btn="cane">取消</button>
                    </div>
                    <div class="save disn">
                        <button class="btn btn-info" data-btn="cane">返回</button>
                    </div>
                </div>
            </div>
            <div class="tc fl ml20" role="parent">
                <ul class="f14 lh50 mb20" data-ul="third"> </ul>
                <div class="pr20 pb20">
                    <div class="init">
                        <button class="btn btn-info" data-btn="add">添加</button>
                        <button class="btn btn-info" data-btn="edit">编辑</button>
                    </div>
                    <div class="sure disn">
                        <button class="btn btn-info" data-btn="sure">确认</button>
                        <button class="btn btn-info" data-btn="cane">取消</button>
                    </div>
                    <div class="save disn">
                        <button class="btn btn-info" data-btn="cane">返回</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="pager_container m-page"></div>
</div>
</body>
</html>
