<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>约战管理——标签管理</title>	
	</head>
	<body>
		<div class="m30"  role="Box">
			<section>
				<header class='panel-heading'>
					<i class="icon-home fa-css3"></i> 约战管理 > 标签管理
				</header>
			</section>
			<div class='row'>
				<div class='col-sm-6'>
					<section class='panel panel-info portlet-item'>
						<header class='panel-heading'>
							网吧标签管理
						</header>
						<div class='list-group bg-white'>
							<div class='panel-body' data-type='cybercafe'> 
								<section class="panel panel-default ">
					                <div class="list-group bg-white">
					                	<div class="panel-body" role="list"></div>
					                </div>
				                </section>
								<div class='form-inline' data-area='areaGroup'  style="margin-bottom: 15px;">
									<div class='form-group'>
										<input class='form-control labelval' name='addcybercafe' type='text' placeholder="自定义标签">
									</div>
									<div class='form-group'>
										<span class='cybercafelabel btn btn-dark'  role='add'  type="button">添加</span>
									</div>
								</div>
							</div>			
						</div>
					</section>
					<section class='panel panel-info portlet-item'>
						<header class='panel-heading'>
							用户标签管理
						</header>
						<div class='list-group bg-white'>
							<div class='panel-body' data-type='appUser'>
								<section class="panel panel-default ">
					                <div class="list-group bg-white">
					                	<div class="panel-body" role="list"></div>
					                </div>
				                </section>
				                <div class='form-inline' data-area='areaGroup'  style="margin-bottom: 15px;">
									<div class='form-group'>
										<input class='form-control labelval' name='adduser' type='text' placeholder="自定义标签">
									</div>
									<div class='form-group'>
										
										<span class='userlabel btn btn-dark' role='add' type="button">添加</span>
									</div>
								</div>
						  </div>
						</div>
					</section>
					<section class='panel panel-info portlet-item'>
						<header class='panel-heading'>
							评价标签
						</header>
						<div class='list-group bg-white'>
							<div class='panel-body' data-type='evaluate'>
								<section class="panel panel-default ">
					                <div class="list-group bg-white">
					                	<div class="panel-body" role="list"></div>
					                </div>
				                </section>
				                <div class='form-inline' data-area='areaGroup'  style="margin-bottom: 15px;">
									<div class='form-group'>
										<input class='form-control labelval' name='adduser' type='text' placeholder="自定义标签">
									</div>
									<div class='form-group'>
										<span class='userlabel btn btn-dark' role='add' type="button">添加</span>
									</div>
								</div>
						  </div>
						</div>
					</section>
				</div>
				<div class='col-sm-6'>
					<section class='panel panel-info portlet-item'>
						<header class='panel-heading'>
							游戏小图标管理
						</header>
						<div class='list-group bg-white'>
							<div class='panel-body' data-type='small' id="uploatPicBox">
								<section class="panel panel-default ">
					                <div class="list-group bg-white">
					                	<div class="disib ImgList panel-body" role="list"> </div>
					                </div>							
				              </section>
				              <section class="form-horizontal">
				              	 <div class="form-group">
				              	 	<label class="col-lg-2 control-label">标题</label>
				              	 	<div class="col-lg-10">
				              	 		<input type="text" class="form-control" name="title" />
				              	 	</div>
				              	 </div>
				              	 <div class="form-group">
				              	 	<label class="col-lg-2 control-label">选择游戏</label>
				              	 	<div class="col-lg-10">
				              	 		<select name="gameID" class="form-control input-s-sm"></select>
				              	 	</div>
				              	 </div>
				              	 <div class="form-group">
				              	 	<label class="col-lg-2 control-label">添加图片</label>
				              	 	<div class="col-lg-2">
				              	 		<img src="" class="w60 h60" role="viewSmallPic"/>
				              	 	</div>
				              	 	<div class="col-lg-6">
				              	 		<a class="btn btn-default uploatPic mb20" id="uploatPic" href="javascript:;">
				                 			 <i class="fa fa-cloud-upload text"></i>
				                 			 <span class="text">上传图片</span>
				            			</a>
				            			<br>
				            			<small class='show-hide disi' style='font-size:12px;color:darkgray'>请上传小于10M的jpeg、bmp、png、jpg图</small><br class='show-hide'>
				              	 	</div>
				              	 	<div class="col-lg-2">
										<span class='btn btn-dark' role='add'>添加</span>
									</div>
				              	 </div>
				              </section>
						  </div>
						</div>
					</section>
					<section class='panel panel-info portlet-item'>
						<header class='panel-heading'>
							游戏大图标管理
						</header>
						<div class='list-group bg-white'>
							<div class='panel-body' data-type='big' id="uploatPicBox2">
								<section class="panel panel-default ">
					                <div class="list-group bg-white">
					                	<div class="disib ImgList panel-body" role="list"> </div>
					                </div>							
				              </section>
				              <section class="form-horizontal">
				              	 <div class="form-group">
				              	 	<label class="col-lg-2 control-label">标题</label>
				              	 	<div class="col-lg-10">
				              	 		<input type="text" class="form-control input-s-sm" name="title" />
				              	 	</div>
				              	 </div>
				              	 <div class="form-group">
				              	 	<label class="col-lg-2 control-label">选择游戏</label>
				              	 	<div class="col-lg-10">
				              	 		<select name="gameID" class="form-control"></select>
				              	 	</div>
				              	 </div>
				              	 <div class="form-group">
				              	 	<label class="col-lg-2 control-label">添加图片</label>
				              	 	<div class="col-lg-2">
				              	 		<img src="" class="w60 h60" role="viewBigPic"/>
				              	 	</div>
				              	 	<div class="col-lg-6">
				              	 		<a class="btn btn-default uploatPic mb20" id="uploatPic2" href="javascript:;">
				                 			 <i class="fa fa-cloud-upload text"></i>
				                 			 <span class="text">上传图片</span>
				            			</a>
				            			<br>
				            			<small class='show-hide disi' style='font-size:12px;color:darkgray'>请上传小于10M的jpeg、bmp、png、jpg图</small><br class='show-hide'>
				              	 	</div>
				              	 	<div class="col-lg-2">
										<span class='btn btn-dark' role='add'>添加</span>
									</div>
				              	 </div>
				              </section>
						  </div>
						</div>
					</section>
				</div>
				<div  class="col-sm-6">
					<section class="panel panel-info portlet-item">
						<header class='panel-heading'>
							热卖标签管理
						</header>
						<div class='list-group bg-white'>
							<div class='panel-body' data-type='hot'> 
								<section class="panel panel-default ">
					                <div class="list-group bg-white">
					                	<div class="panel-body" role="list"></div>
					                </div>
				                </section>
								<div class='form-inline' data-area='areaGroup'  style="margin-bottom: 15px;">
									<div class='form-group'>
										<input class='form-control labelval' name='addcybercafe' type='text' placeholder="自定义标签">
									</div>
									<div class='form-group'>
										<span class='cybercafelabel btn btn-dark'  role='add'  type="button">添加</span>
									</div>
								</div>
							</div>			
						</div>
					</section>
				</div>
			</div>
			
		</div>
	
	</body>
</html>
