<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>手机端管理—约战控制</title>
	</head>
	<body>
		<div class="m30" role="Box">  
		    <section>
		        <header class="panel-heading">                  
		            <i class="icon-home fa-css3"></i> 手机端管理 > 约战控制
		        </header>
		    </section>
		    <div class='row'>
				<div class='col-sm-6 mt30'>
					<section class='panel panel-info portlet-item'>
						<header class='panel-heading'>
							约战条件控制
						</header>
						<div class='list-group bg-white xd' >
							<div class='panel-body' field="match_condition"> 
								<div class='form-inline jd' data-area='areaGroup'  style="bottom: 15px;right:20px">
									<div class='form-group'>
										<input class='form-control playcondition'  type='text' placeholder="添加条件">
									</div>
									<div class='form-group'>
										<span class='btn btn-dark' type="button" role='add'>添加</span>
									</div>
								</div>
								<section class="panel panel-success mt10 mb50">
					                <div class="list-group bg-white">
					                	<div class="panel-body" role="list"></div>
					                </div>
				                </section>
						
							</div>			
						</div>
						<div class="cr_R p10" data-error="tip"></div>
					</section>
				</div>
				<div class='col-sm-6 mt30'>
					<section class='panel panel-info portlet-item'>
						<header class='panel-heading'>
							约战类型控制
						</header>
						<div class='list-group bg-white xd'>
							<div class='panel-body' field="match_type">
								<div class='form-inline jd' data-area='areaGroup'  style="bottom: 15px;right:20px">
									<div class='form-group'>
										<input class='form-control playcondition'  type='text' placeholder="添加控制类型">
									</div>
									<div class='form-group'>
										
										<span class='btn btn-dark' type="button" role='add'>添加</span>
									</div>
								</div>
								<section class="panel panel-success mt10 mb50">
					                <div class="list-group bg-white">
					                	<div class="panel-body" role="list"></div>
					                </div>
								
								
				              </section>
						  </div>
						</div>
					</section>
				</div>
			</div>

		</div>
	</body>
</html>
