<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>约战管理——约战举报</title>
<style>
	.alert-danger{display: none;}
</style>
</head>

<body>
<div class="m30" data-card="card">
    <!-- 搜索条件 -->
    <section >
        <header class="panel-heading">                  
           <i class="icon-home fa-css3"></i> 约战管理 > 约战举报
        </header>
        <div class="panel-body" role="Box">
          <form class="form-inline" role="searchForm">
            <div class="form-group">
              <label>举报时间： </label>
              <input id="BeginTime" type="text" class="input-sm" role="date" class="form-control" name="date_before" data-time="start">
            </div>
            <div class="form-group">
              <label>至 </label>
              <input id="EndTime" type="text" class="input-sm" role="date" class="form-control" name="date_after" data-time="end">
            </div>
           <div class="form-group">
               <label>举报类型： </label>
                <select id="PayStatus" class="input-sm form-control input-s-sm inline v-middle" data-select="status" name="report_type">
                     <option value="">全部</option>
                    <option value="1">对话</option>
                    <option value="2">约战</option>
                </select>                      
            </div>
            <div class="form-group">
            	<select id="RefundType" class="input-sm form-control input-s-sm inline v-middle" data-select="name" name="key">
	                <option value="">全部</option>
	                <option value="username">举报人</option>
	                <option value="mid">约战ID</option>
	                <option value="report_note">举报内容</option>
              	</select>     
              	<input id="KeyWord" type="text" class="form-control input-sm" name="value"  placeholder="输入关键词" data-text="keywords">            
            </div>                       
            <a  id="SearchBtn" href="#" class="btn btn-s-md btn-info" data-btn="filter" role="search"><i class="icon-magnifier fa-css3"></i> 筛选</a>
            <a  id="SearchBtn" href="#" class="btn btn-s-md btn-info" data-btn="export" role="excel"><i class="icon-magnifier fa-css3"></i> 导出excel</a>
          </form>                  
        </div>
        
        <table id="DepositList" width="100%" class="tb-default tb_h_48 text_u">                          
            <thead>
            	<tr>
		            <th width="10%">ID</th>                                    
		            <th width="20%">举报时间</th>
		            <th width="20%">举报人</th>
		            <th width="10%">被举报约战ID</th>
		            <th width="10%">举报类型</th>
		            <th width="20%">举报内容</th>
		            <th width="10%">被举报约战对话</th>
	            </tr>
              </thead>
              <tbody data-body="list">
              </tbody>
        </table>
       <div class="pager_container m-page" page="pages"></div>
       
    </section> 
        <!--<table id="DepositList" width="100%" class="tb-default tb_h_48 text_u">                          
            <thead>
            	<tr>
		            <th width="10%">ID</th>                                    
		            <th width="20%">举报时间</th>
		            <th width="20%">举报人</th>
		            <th width="10%">被举报约战ID</th>
		            <th width="10%">举报类型</th>
		            <th width="20%">举报内容</th>
		            <th width="10%">被举报约战对话</th>
	            </tr>
              </thead>
              <tbody data-body="list">
              </tbody>
        </table>
       <div class="pager_container m-page" page="pages"></div>-->
</div>
</body>
</html>
