<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>圈子管理——新增话题</title>
</head>

<body>
<div class="m30"  role="Box" data-card="addTopic">
    <!-- 搜索条件 -->
    <section >
        <header class="panel-heading">                  
           <i class="icon-home fa-css3"></i> 圈子管理 > <a actionajax="topicManage" href="javascript:viod(0)">话题管理</a> > 新增话题
        </header>
        <div class="panel-body">
        	<div class="form-group">
				<label >标题：</label>
				<input class="h31 form-control" style="width: auto;display: inline-block;" type="text" name="" data-text="name" value="" field="topic_name" />
				<labe class="text-dark"><em class="cr_R">*</em> 4-25个字符</label>
			</div>
			<div class="form-group" style="position: relative;">
				<labe class="text-dark">题图：</label>
				<img class="mr10" style="width:50px;height:50px;" data-text="img" role="qnImg" isrc="" >
				<a class="btn btn-s-md btn-default u-upload ml10" id="uploadPic" href="javascript:void(0)" style="position: relative; z-index: 1;">上传图片</a>
				<span class="c-666 class="text-dark"">请上传小于10M的png、jpg图片,200px X 144px</span>
			</div>
			<div class="form-group">
				<label>摘要：</label>
				<textarea size='200' class="disb wauto p10"  field="topic_header"></textarea>
				<labe class="text-dark mt10 disib"><em class="cr_R">*</em> 4-50个字符</label>
			</div>
			<div class="form-group">
				<label>内容：</label>
				<textarea size='200' class="disb mb30 wauto p10" id="editor"  field="topic_content"></textarea>
			</div>
			<div class="form-group" data-dom="add">
				<label>发布人：</label>
				<select data-option="issuer" class="input-sm form-control input-s-sm inline v-middle"></select>
			</div>
			<div class="form-group" data-dom="add">
				<label>圈子&nbsp;：</label>
				<select data-option="circle" class="input-sm form-control input-s-sm inline v-middle"></select>
			</div>
			<div class="form-group disn" data-dom="edit">
				<label>发布人：</label>
				<span field="username" logo=""></span>
				<label>已发布至：</label>
				<span field="ci_name"></span>
			</div>
			<div class="form-group" data-dom="add" data-label="radio">
				<label>标签&nbsp;:</label>
				<div class="radio i-checks disib mr10"><label><input type="radio" name="label" checked value="0" data-btn="top"><i></i>无</label></div>
				<div class="radio i-checks disib mr10"><label><input type="radio" name="label"  value="1" data-btn="top"><i></i>精</label></div>
				<div class="radio i-checks disib mr10"><label><input type="radio" name="label"  value="2" data-btn="top"><i></i>新</label></div>
				<div class="radio i-checks disib mr10"><label><input type="radio" name="label"  value="3" data-btn="top"><i></i>顶</label></div>
			</div>
			<div class="form-group" >
				<div class="cr_R" data-error="tip"></div>
			</div>
			<div class="form-group">
				<span class="btn btn-default mr10" data-btn="scan">预览</span>
				<span class="btn btn-default mr10" data-btn="save">发布</span>
				<span class="btn btn-default mr10" data-btn="cancel">取消</span>
			</div>
        </div>
      </section> 
</div>
</body>
</html>
