<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>结算管理——网吧提现审核</title>
<style>
	.alert-danger{display: none;}
</style>
</head>

<body>
<div class="m30">
    <!-- 搜索条件 -->
    <section>
        <header class="panel-heading">                  
           <i class="icon-home fa-css3"></i> 结算管理 > 网吧提现审核
        </header>
        <div class="panel-body" role="Box">
          <form class="form-inline" role="form">
            <div class="form-group">
              <label>申请时间： </label>
              <input id="BeginTime" type="text" role="date" class="input-sm form-control" name="date_before" >
            </div>
            <div class="form-group">
              <label>至 </label>
              <input id="EndTime" type="text" role="date" class="input-sm form-control" name="date_after" >
            </div>
           <div class="form-group">
               <label>提现状态： </label>
                <select id="PayStatus" class="input-sm form-control input-s-sm inline v-middle"  name="status">
                	<option value="">全部</option>
                    <option value="2">等待审核</option>
                    <option value="0">等待提现</option>
                    <option value="1">已提现</option>
                </select>                      
            </div>
            <div class="form-group">
               <label>网吧名称： </label>
                <select id="PayStatus" class="input-sm form-control input-s-sm inline v-middle"  name="key">
                    <option value="cybercafe_name">网吧名称</option>
                    <option value="cybercafe_address">网吧地址</option>
                </select>
                <input id="KeyWord" type="text" class="input-sm form-control" name="value"  placeholder="输入网吧名称" >                     
            </div><!--
            <div class="form-group">
            	<select id="RefundType" class="input-sm form-control input-s-sm inline v-middle"  name="key">
	                <option value="cybercafe_name">网吧名字</option>
	                <option value="username">网吧账号</option>
              	</select>     
              	<input id="KeyWord" type="text" class="input-sm form-control" name="value"  placeholder="输入关键词" >            
            </div>     -->                  
            <a  id="SearchBtn" href="#" class="btn btn-s-md btn-info" data-btn="filter" role="search"><i class="icon-magnifier fa-css3"></i> 筛选</a>
            <a  id="ExcelBtn" href="#" class="btn btn-s-md btn-info" data-batch="all"><i class="icon-pin" ></i> 批量设置为已审核</a>
            <a  id="ExcelBtn" href="#" class="btn btn-s-md btn-info" role="excel"><i class="icon-share-alt fa-css3"></i> 导出</a>
          </form>                  
        </div>
      </section> 
        <table id="DepositList" width="100%" class="tb-default tb_h_48 text_u">                          
            <thead>
            	<tr>
		            <th width="5%"><label class="checkbox m-n i-checks"><input type="checkbox" data-all="checkAll"><i></i></label></th>  
		            <th width="10%">申请时间</th>                                    
		            <th width="10%">网吧名称</th>
		            <th width="12%">网吧地址</th>
		            <th width="8%">申请提现金额</th>
		            <th width="10%">可提现金额</th>
		            <th width="10%">异常金额(元)</th>
		            <th width="10%">提现日期</th>
		            <th width="5%">订单数</th>
		            <th width="10%">提现状态</th>     
		            <th width="10%" style="border-right: 0;">操作</th>
	            </tr>
              </thead>
              <tbody data-body="list">
              </tbody>
        </table>
        <div class="mt20" control="wrap" style="display: none;">可提现总额：<span class="cr_O f14 fb" field="allClearAccount"></span></div>
       <div class="pager_container m-page"></div>
       
</div>
</body>
</html>
