<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>系统管理—网吧订单设置</title>
	</head>

	<body>
		<div class="m30" role="Box">
			<!-- 搜索条件 -->
			<section>
				<header class="panel-heading">
					<i class="icon-home fa-css3"></i> 系统管理 > 图片上传测试
				</header>
			</section>
			<div class="row">
				<div id="container"></div>
				<!-- <button class="btn btn-info" id="upload">上传图片</button>  -->
				<button class="btn btn-danger" id="upload1">上传图片1</button>
				<a class="btn btn-default btn-lg " id="upload" href="#">
					<i class="glyphicon glyphicon-plus"></i>
					<sapn>上传图片2</sapn>
				</a>

				<div class='panel-body' data-type='4' id="uploatPicBox">
					<a class="btn btn-default uploatPic mb20" id="uploatPic" href="javascript:;">
						<i class="fa fa-cloud-upload text"></i>
						<span class="text">上传图片3</span>
					</a>
					<small class='show-hide disi' style='font-size:12px;color:darkgray'>请上传小于10M的jpeg、bmp、png、jpg图</small><br class='show-hide'>
					<section class="panel panel-success ">
						<div class="list-group bg-white">
							<div id="ImgList" class="disib ImgList panel-body" role="barImg"> </div>
						</div>
					</section>
				</div>
				
				
				<div class="panel panel-default">
					<div class="panel-heading">
						编辑器上传测试
					</div>
					<div class="panel-body">
						<textarea id="editor" style="height: 300px;">
							拉卡拉是快递费我诶案例是可敬的嘎哈发个链接熬枯受淡非公开了就爱了发过拉丝克己奉公
						</textarea>
					</div>
				</div>
				
			</div>
		</div>
	</body>

</html>