<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>约战管理——约战列表</title>
<style>
	.alert-danger{display: none;}
</style>
</head>

<body>
<div class="m30" data-card="card">
    <!-- 搜索条件 -->
    <section >
        <header class="panel-heading">                  
           <i class="icon-home fa-css3"></i> 约战管理 > 约战列表
        </header>
        <div class="panel-body" role="Box">
          <form class="form-inline" role="searchForm">
            <div class="form-group">
              <label>发布日期： </label>
              <input id="BeginTime" class="input-sm" type="text" role="date" class="form-control" name="date_before" data-time="start">
            </div>
            <div class="form-group">
              <label>至 </label>
              <input id="EndTime" class="input-sm" type="text" role="date" class="form-control" name="date_after" data-time="end">
            </div>
           <div class="form-group">
               <label>约战状态： </label>
                <select id="PayStatus" class="input-sm form-control input-s-sm inline v-middle" data-select="status" name="matchStatus">
                     <option value="">全部</option>
                    <option value="1">进行中</option>
                    <option value="2">已完成</option>
                    <option value="3">已下线</option>
                </select>                      
            </div>
            <div class="form-group">
            	<select id="RefundType" class="input-sm form-control input-s-sm inline v-middle" data-select="name" name="key">
	                <!--<option value="">全部</option>-->
	                <option value="id">约战ID</option>
	                <option value="a_uid">发起人账号</option>
	                <option value="gameName">游戏名</option>
              	</select>     
              	<input id="KeyWord" type="text" class="form-control input-sm" name="value"  placeholder="" data-text="keywords">            
            </div>                       
            <a  id="SearchBtn" href="#" class="btn btn-s-md btn-info" data-btn="filter" role="search"><i class="icon-magnifier fa-css3"></i> 筛选</a>
            <a  id="SearchBtn" href="#" class="btn btn-s-md btn-info"  role="excel"><i class="icon-magnifier fa-css3"></i> 导出excel</a>
          </form>                  
        </div>
    </section> 
        <table id="DepositList" width="100%" class="tb-default tb_h_48 text_u">                          
            <thead>
            	<tr>
		            <th width="10%">约战ID</th>                                    
		            <th width="10%">发布日期</th>
		            <th width="10%">发起人账号</th>
		            <th width="10%">游戏名(服务器)</th>
		            <th width="10%">应战人数/约战人数</th>
		            <th width="10%">约战状态</th>
		            <th width="10%">被举报次数</th>
		            <th width="10%">约战时间</th>     
		            <th width="20%" style="border-right: 0;">操作</th>
	            </tr>
              </thead>
              <tbody data-body="list">
              </tbody>
        </table>
       <div class="pager_container m-page" page="pages"></div>
</div>
</body>
</html>
